
:root {
  scroll-behavior: smooth;
  --text_color:#072635;
  --main_bacground_color: #F6F7F8;
  --backgound_color:#FFFFFF;
  --button_bg: #01F0D0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 ,
p {
  font-family: "Manrope", sans-serif;
  color: var(--text_color);
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}



/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}



.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
  left: 10px;
  right: 10px;
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: var(--text_color);
}

/*--------------------------------------------------------------
# Header Center Nav
--------------------------------------------------------------*/
.header .center-navbar ul {
  list-style: none;
}

.header .center-navbar>ul {
  margin: 0;
  padding: 0;
}

.header .center-navbar ul li {
  margin-right: 30px;
}

.header .center-navbar .nav-item a {
  text-decoration: none;
  font-size: 15px;
  color: var(--text_color);
  font-weight: 600;
}


.header .center-navbar .nav-item .btn {
  background-color: var(--button_bg);
}

.offcanvas .offcanvas-body .center-navbar ul li {
  margin-top: 30px;
}

.offcanvas .offcanvas-body .center-navbar .nav-item a {
  font-size: 20px;
}


/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-first-nav .nav-text {
  display: none;
}
@media (min-width: 768px) {
  .header-first-nav .nav-text {
    display: inline;
  }
}

.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}


.header-nav .nav-profile h6 {
  color: var(--text_color);
}

.header-nav .vertical-line {
  border-left: 1px solid #b8b7b7; 
  height: 35px; 
}

.header-nav .nav-icons i {
  font-size: 23px;
  color: var(--text_color)
}


.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}



.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 80px;
  left: 10px;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px 10px;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
 
  .sidebar .patients {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.sidebar .patients-search .active-patient,
.sidebar .patients-search :hover{
  background-color: #D8FCF7;
}

.sidebar {
  overflow-y: auto;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--text_color);
  border-radius: 3px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
 
}

@media (max-width: 767.98px) {
  #sidebar {
    display: none;
  }

  body.toggle-sidebar #sidebar {
    display: block;
  }
}

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }


}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}



/********Left Side Column ********/

.diagnosis .respiratory-rate {
  background-color: #E0F3FA;
}

.diagnosis .temperature {
  background-color: #FFE6E9;
}

.diagnosis .heart-rate {
  background-color: #FFE6F1;
}

.diagnostic-list .list th, 
.diagnostic-list .list td {
  color: var(--text_color);
}

.diagnostic-list .diagnostic{
  height: 200px; 
  overflow-y: auto;
}

.diagnostic-list .diagnostic::-webkit-scrollbar {
  width: 5px;
}

.diagnostic-list .diagnostic::-webkit-scrollbar-thumb {
  background-color: var(--text_color);
  border-radius: 3px;
}

.diagnostic-list .diagnostic::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}





/******** Right Side Column ********/


/******* Patient Profile *********/
.patient-profile .patient-name {
  color: var(--text_color)
}

.patient-profile .patient-details p h6 {
  color: var(--text_color);
}
 .patient-profile .patient-details .more-info{
  background-color: var(--button_bg);
}

.patient-profile .patient-details i {
  font-size: 25px;
}

/******* Lab Results *********/

.lab-result .results {
  height: 150px; 
  overflow-y: auto;
}

.lab-result .results::-webkit-scrollbar {
  width: 5px;
}

.lab-result .results::-webkit-scrollbar-thumb {
  background-color:var(--text_color);
  border-radius: 3px;
}

.lab-result .results::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}


